@model List<Car>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 0;
}

<h1>Index</h1>


<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Model Name</th>
        <th>Year</th>
        <th>Kilometer</th>
        <th>Brand</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.ModelName</td>
            <td>@item.Year</td>
            <td>@item.Kilometer</td>
            <td>@item.Brand.BrandName</td>
            <td><a asp-action="DeleteCar" asp-route-id="@item.BrandId" class="btn btn-outline-primary">Delete</a></td>
            <td><a asp-action="EditCar" asp-route-id="@item.BrandId" class="btn btn-outline-danger">Update</a></td>
        </tr>
    }

</table>
<a asp-action="CreateCar" asp-controller="AdminCarController" class="btn btn-outline-primary">Create New Car</a>